---
const today = new Date();
---

<footer>
	<p>&copy; {today.getFullYear()} Noan Randon. All rights reserved.</p>
</footer>
<style>
	footer {
		padding: 0.25em 0em;
		background-color: var(--secondary-background);
		color: var(--primary-color);
		text-align: center;
		width: 100%;
		margin-top: auto;
	}
</style>
